* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4e9d8;
    background-image: url("/my-portfolio/paper-fibers.png");
    background-repeat: repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #092c08;
    color: #fff;
    position: sticky;
    top: 0;
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.5rem;
}

.nav-links a:hover { color: #104821; }

.hero {
    text-align: center;
    padding: 6rem 2rem;
    background: none;
    color: #f4e9d8;
}

.hero h1 { font-size: 2.8rem; margin-bottom: 0.5rem;}
.hero p { font-size: 1.2rem; opacity: 0.8; }

.section {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 2rem;
    background-color: #f5e2c5;
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
    background-repeat: repeat;
}

.section h2 {
    font-size:2rem;
    margin-bottom: 1rem;
    color: #0a3f15;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.project-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    transition: box-shadow 0.2s;
}

.project-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.project-card h3 { color: #0b4118; margin-bottom: 0.5rem; }

.blog-post {
    border-left: 4px solid #0d461f;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    background: #f9f9f9;
    border-radius: 0 8px 8px 0;
}

html {
  scroll-behavior: smooth;
}

.blog-gallery {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.blog-item {
  width: 300px;
  text-align: center;
}

.blog-item img {
  width: 100%;
  border-radius: 10px;
}

.blog-item h3 {
  margin-top: 10px;
  font-size: 20px;
}

.blog-item p {
  font-size: 16px;
  color: #444;
}
